@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



*{
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

 .logo img {
    width: 50%;
    border: 2px solid white;
    border-radius: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
} 

.nav-list {
    width: 70%;
     /* background-color: black; */ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Ubuntu';
}


.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}

.rightnav {  
    width: 30%;
    /* background-color: purple; */
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px ;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('/img/Background.jpg');
    background-size: cover;
    background-blend-mode: darken ;   
}

.firstSection{
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 70%;
    
}

.secondHalf img {
    width: 50%;
    border: 3px solid white;
    border-radius: 40% 0%;
    display: block;
    margin: auto;


}

.text-big{
    font-size: 26px;

}

.text-small{
    font-size: 16px;

}

.btn {
    padding: 8px 17px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle ;
    font-size: 12px;
}

.btn-dark{
    border: 2px solid grey;
    color: black;
    
}

.section {
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-Left{
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 100px;
}

.sectionTag {
    padding: 16px 0px; 
}

.sectionSubtag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 239px;
    border: 2px solid black;
    border-radius: 32px;
    margin: 40px 0px;
}

.contact{
    background-color: rgb(246, 246, 246);
    height: 920px;
    margin: 1px 0px;

}

.text-center {
    text-align: center;
    padding-top: 40px;
    font-family: 'Ubuntu', sans-serif;;
}

.form {
    margin: 46px auto;
    max-width: 750px;
}

.form-input{
    margin: 11px 0;
    padding: 13px 15px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;

}

.text-footer{
    display: flex;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0px;
    justify-content: center;
    color: white;
}

.burger{
    display: none;
    position: absolute; 
    cursor: pointer;
    margin: 3px;
    top: 5px;
    right: 15px;

}

.line{
    width: 33px;
    background-color: white;
    height: 5px;
    margin: 5px 3px;
}

@media only screen and (max-width:1140px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 500px;
        flex-direction: column;
        transition: all 0.7s ease-out;

    }
    .background {
        background-position: center;
    }

    .rightnav{
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 70%;
    }
    #search{
        width: 100%;

    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 80px;
    }

    .v-class-resp{
        opacity: 0 ;
    }
    .form{
        max-width: 260px
    }
    .form-input{
        width: 94%;
        border: 2px solid grey;
        border-radius: 6px;
        font-size: 22px;
        margin: 14px 30px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
    }

    .btn{
        margin: 9px 2px;
        text-align: center;
    }

    .section{
        flex-direction: column-reverse;
    }

    .text-small{
        text-align: center;
    }

    .text-big{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .paras {
        padding: 40px 1px;
    }

    .thumbnail img{
        margin: 11px 0px;
    }
}








